In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('data\imdb_top_1000.csv')
print(f"Shape of dataframe: {df.shape}")
df

Shape of dataframe: (1000, 16)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [6]:
print(df.columns)

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [7]:
# Drop extra unnamed columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

df = df.drop(columns=["Poster_Link", "Series_Title", "Certificate", "Overview", "Director", "Star1", "Star2", "Star3", "Star4"])

In [10]:
print(df.columns)

Index(['Released_Year', 'Runtime', 'Genre', 'IMDB_Rating', 'Meta_score',
       'No_of_Votes', 'Gross'],
      dtype='object')

In [1]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# selected_columns = ["Released_Year", "Runtime", "Genre", "IMDB_Rating", "Meta_score", "No_of_Votes", "Gross"]

# for col in ["Released_Year", "Runtime", "Genre", "IMDB_Rating", "Meta_score", "No_of_Votes", "Gross"]:
#     df[col] = pd.to_numeric(df[col], errors="coerce")

# df_clean = df[selected_columns].dropna()

# corr_matrix = df_clean.corr()

# plt.figure(figsize=(10, 8))
# sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap="coolwarm", linewidths=0.5, square=True
# )

# # Add title
# plt.title("Correlation Heatmap of IMDb Rating and Predictors", fontsize=14, pad=15)
# plt.tight_layout()
# plt.show()

In [17]:
import statsmodels.api as sm

y = df["Oil_volume_m3_day"]
X = df[["Working_hours", "Gas_volume_m3_day", "Water_cut_percent", "Dynamic_level_m", "Reservoir_pressure_atm"]]
X = sm.add_constant(X)

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Oil_volume_m3_day   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 6.517e+05
Date:                Tue, 21 Oct 2025   Prob (F-statistic):               0.00
Time:                        20:56:57   Log-Likelihood:                -537.20
No. Observations:                2939   AIC:                             1086.
Df Residuals:                    2933   BIC:                             1122.
Df Model:                           5
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                      0.1525      0.217      0.704      0.482      -0.272       0.577
Working_hours             -0.0057      0.003     -2.218      0.027      -0.011      -0.001
Gas_volume_m3_day          0.0037   1.01e-05    371.150      0.000       0.004       0.004
Water_cut_percent          0.0026      0.002      1.512      0.131      -0.001       0.006
Dynamic_level_m           -0.0001   7.55e-05     -1.601      0.110      -0.000    2.72e-05
Reservoir_pressure_atm    -0.0002      0.000     -0.441      0.659      -0.001       0.001
==============================================================================
Omnibus:                     2530.435   Durbin-Watson:                   1.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              182.386
Skew:                          -0.099   Prob(JB):                     2.49e-40
Kurtosis:                       1.796   Cond. No.                     2.29e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.29e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [18]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

X = df[["Working_hours", "Gas_volume_m3_day", "Water_cut_percent", "Dynamic_level_m", "Reservoir_pressure_atm"]]
X = sm.add_constant(X)
vif = pd.DataFrame()
vif["Variable"] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
print(vif)

                 Variable          VIF
0                   const  1632.046576
1           Working_hours     2.113961
2       Gas_volume_m3_day    23.799139
3       Water_cut_percent     9.599914
4         Dynamic_level_m     2.597459
5  Reservoir_pressure_atm     8.995007

In [12]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import LabelEncoder

# --- Load dataset ---
df = pd.read_csv('data\imdb_top_1000.csv')

# --- Clean Runtime ("142 min" â†’ 142) ---
df['Runtime'] = df['Runtime'].replace(' min', '', regex=True)
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')

# --- Clean Gross ("$123.4M" â†’ 123.4 * 1e6) ---
def clean_gross(val):
    if pd.isna(val):
        return np.nan
    val = str(val).replace('$', '').replace(',', '').strip()
    try:
        if 'M' in val:
            return float(val.replace('M', '')) * 1e6
        elif 'B' in val:
            return float(val.replace('B', '')) * 1e9
        else:
            return float(val)
    except:
        return np.nan

df['Gross'] = df['Gross'].apply(clean_gross)

# --- Convert Meta_score to numeric ---
df['Meta_score'] = pd.to_numeric(df['Meta_score'], errors='coerce')

# --- Encode Genre ---
if df['Genre'].dtype == 'object':
    le = LabelEncoder()
    df['Genre'] = le.fit_transform(df['Genre'])

# --- Select relevant columns ---
cols = ['Released_Year', 'Runtime', 'Genre', 'Meta_score', 'No_of_Votes', 'Gross', 'IMDB_Rating']
df = df[cols]

# --- Drop or fill missing data ---
df = df.dropna()  # Drop rows with any missing values

# --- Remove infinite values just in case ---
df = df.replace([np.inf, -np.inf], np.nan).dropna()

# --- Define independent and dependent variables ---
X = df[['Released_Year', 'Runtime', 'Genre', 'Meta_score', 'No_of_Votes', 'Gross']]
y = df['IMDB_Rating']

# Ensure numeric
X = X.apply(pd.to_numeric, errors='coerce')

# Drop again if any nans slipped in
X = X.replace([np.inf, -np.inf], np.nan).dropna()

# --- Add constant for VIF ---
X_const = sm.add_constant(X)

# --- Compute VIF ---
vif_data = pd.DataFrame()
vif_data["Variable"] = X_const.columns
vif_data["VIF"] = [variance_inflation_factor(X_const.values, i) for i in range(X_const.shape[1])]

print("\nâœ… Variance Inflation Factor (VIF) Results:")
print(vif_data.round(2))

# --- Optional: Correlation matrix ---
print("\nðŸ“Š Correlation Matrix:")
print(X.corr().round(2))

âœ… Variance Inflation Factor (VIF) Results:
        Variable       VIF
0          const  12960.79
1  Released_Year      1.19
2        Runtime      1.06
3          Genre      1.15
4     Meta_score      1.12
5    No_of_Votes      1.50
6          Gross      1.61

ðŸ“Š Correlation Matrix:
               Released_Year  Runtime  Genre  Meta_score  No_of_Votes  Gross
Released_Year           1.00     0.01  -0.14       -0.31         0.20   0.24
Runtime                 0.01     1.00  -0.03       -0.01         0.22   0.17
Genre                  -0.14    -0.03   1.00        0.12        -0.20  -0.34
Meta_score             -0.31    -0.01   0.12        1.00         0.01  -0.03
No_of_Votes             0.20     0.22  -0.20        0.01         1.00   0.56
Gross                   0.24     0.17  -0.34       -0.03         0.56   1.00

In [13]:
# Assuming your cleaned dataframe is called 'df'
# Export to a new CSV file
df.to_csv('imdb_dataset_cleaned.csv', index=False)